<html lang="en"></html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Produkter</title>
        <link rel='stylesheet' href='stylesheets/style.css'/>
    </head>
    <body>
        <%- include header %>
        <div id="wrapper">
            <div id="wrapperAlign">
                <%- include headerLogo %>
                <main>
                    <aside id="pageAside">
                        <%- include asideNav %>
                        <%- include asideSubIndex %>
                    </aside>
                    <div id="dynamicContent">
                        <%- include productsContent %>
                    </div>
                </main>
                <%- include footer %>
            </div>
        </div>
    </body>
</html>