<html lang="en"></html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Søgning <%= srcQuery %></title>
        <link rel='stylesheet' href='stylesheets/style.css'/>
    </head>
    <body>
        <%- include header %>
        <div id="wrapper">
            <div id="wrapperAlign">
                <%- include headerLogo %>
                <main>
                    <aside id="pageAside">
                        <%- include asideNav %>
                        <%- include asideSubIndex %>
                    </aside>
                    <div id="dynamicContent">
                        <% if(srcResult == null) { %>
                            <p>Ingen resultater</p>
                        <% } else { %>
                            <ul id="productContainer">
                            <% srcResult.forEach((element) => { %>
                                <li class="productItem">
                                    <img class="productImage" src="images/<%= element.image %>">
                                    <h2 class="productTitle"><%= element.name %></h2>
                                    <p class="productPrice"><%= element.price %> DKK</p>
                                    <a class="productBtn" href="/produkter?id=<%= element.id %>">Info</a>
                                </li>
                            <% }) %>
                            </ul>
                        <% } %>
                    </div>
                </main>
                <%- include footer %>
            </div>
        </div>
    </body>
</html>